// @font-face {
// 	font-family: 'ClashDisplay';
// 	src: local('ClashDisplay') url('../../fonts/ClashDisplay-Variable.ttf') format('truetype');
// }

// $match-box-border: 2px solid #3c434a;
$match-box-border: none;
$bracket-radius: 3px;
$darkblue: #010433;

@mixin match-box() {
	border-top: $match-box-border;
	border-bottom: $match-box-border;
	position: relative;
	box-sizing: border-box;
}

// Hide half the border on an outer match box
// to prevent trailing borders
@mixin match-box-outer-after() {
	content: '';
	position: absolute;
	display: none;
	// bottom: -5px;
	// top: -5px;
	width: 50%;
	// border: 5px solid white;
}

.ct-section-inner-wrap {
	// background-color: $darkblue;
	// font-family: 'ClashDisplay';
	// font-family: 'ClashDisplay-Medium';

}

.wpbb-paired {
	position: relative;



	// A match box placed on the left side of the page
	// Only show the right border
	.wpbb-match-box-left {
		@include match-box();
		border-right: $match-box-border;
		border-radius: 0 $bracket-radius $bracket-radius 0;
	}

	// A match box placed on the right side of the page
	// Only show the left border
	.wpbb-match-box-right {
		@include match-box();
		border-left: $match-box-border;
		border-radius: $bracket-radius 0 0 $bracket-radius;
	}

	// An outer matchbox on the left side of the page
	.wpbb-match-box-left-outer {
		@extend .wpbb-match-box-left;
	}

	// A left outer match box where the top node has no children
	.wpbb-match-box-left-outer-upper {
		@extend .wpbb-match-box-left;
	}


	// A left outer match box where the bottom node has no children
	.wpbb-match-box-left-outer-lower {
		@extend .wpbb-match-box-left;
	}

	// An outer matchbox on the right side of the page
	.wpbb-match-box-right-outer {
		@extend .wpbb-match-box-right;
	}

	// A right outer matchbox where the top node has no children
	.wpbb-match-box-right-outer-upper {
		@extend .wpbb-match-box-right;
	}

	// A right outer matchbox where the bottom node has no children
	.wpbb-match-box-right-outer-lower {
		@extend .wpbb-match-box-right;
	}

	// .wpbb-final-match {
	.wpbb-match-box-center {
		@include match-box();
		// position: absolute;
		// left: 50%;
		// bottom: 52%;

		// transform: translate(0, -118%);
		// flex-grow: 1;
	}
}