$team-background: white;
$team-color: white;

%team {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 16px;
	height: 28px;
	width: 115px;
	border: 2px solid rgba(255, 255, 255, 0.5);
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: $team-color;
	z-index: 1;
	text-align: center;
}

%positioned-team {
	@extend %team;
	position: absolute;
	left: 50%;
	// transform: translateX(-50%);
}

%paired-teams {
	.wpbb-team1 {
		@extend %positioned-team;
		// top: $team-offset;
		top: 0;
		transform: translate(-50%, -50%)
	}

	.wpbb-team2 {
		@extend %positioned-team;
		// bottom: $team-offset;
		bottom: 0;
		transform: translate(-50%, 50%)
	}

	.wpbb-final-winner {
		@extend %team;
		width: 257px;
		height: 52px;
		line-height: 44px;
		border-color: white;
		font-size: 36px;
		font-weight: 700;
		// position: absolute;
		// top: 35%;
		// left: 50%;
		// transform: translate(-50%);
	}

	.wpbb-bracket-options {
		position: absolute;
		bottom: 10px;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		flex-direction: column;
		align-items: center;
	}


	.wpbb-match-winner {
		background-color: white;
		color: #010433;
	}

	.wpbb-team1:hover,
	.wpbb-team2:hover {
		cursor: pointer;
	}

	.wpbb-team-name {
		white-space: nowrap;
		margin-top: 1px;
		// font-size: small;
	}
}