@use 'constants' as *;

%positioned-team {
	position: absolute;
	left: 50%;
}

%paired-teams {
	.wpbb-team {
		text-transform: uppercase;
		font-weight: 600;
		font-size: 16px;
		height: 28px;
		width: 115px;
		// border: 2px solid rgba(255, 255, 255, 0.5);
		border: 2px solid rgba($darkBlueRGB, 0.5);
		display: flex;
		flex-direction: column;
		justify-content: center;
		z-index: 1;
		text-align: center;

		&:hover {
			cursor: pointer;
		}
	}

	.wpbb-team1 {
		@extend %positioned-team;
		top: 0;
		transform: translate(-50%, -50%)
	}

	.wpbb-team2 {
		@extend %positioned-team;
		bottom: 0;
		transform: translate(-50%, 50%)
	}

	.wpbb-final-winner {
		width: 257px;
		height: 52px;
		line-height: 44px;
		border-color: $darkBlue;
		font-size: 36px;
		font-weight: 700;
	}

	.wpbb-match-winner {
		background-color: white;
		color: #010433;
	}

	.wpbb-team-name {
		white-space: nowrap;
		margin-top: 1px;
	}
}