@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import 'https://api.fontshare.com/css?f[]=clash-display@500,600,700&display=swap'; */

/* @import "~react-image-gallery/styles/scss/image-gallery.scss"; */
@import url('clash-display.css');

.wpbb-reset {
  font-family: 'Clash Display', sans-serif;
  text-transform: uppercase;
  color: #fff;
  line-height: normal;
  box-sizing: border-box;
}

/** React-select styles (tournament type page) */

div.react-select__control {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  padding: 16px;
  font-weight: 600;
  font-size: 24px;
}
div.react-select__control:hover {
  cursor: pointer;
}

div.react-select__single-value {
  color: rgba(255, 255, 255, 0.5);
}

span.react-select__indicator-separator {
  display: none;
}

div.react-select__indicator {
  color: rgba(255, 255, 255, 0.5);
}

div.react-select__menu {
  background-color: #010433;
  text-align: center;
  margin-bottom: 0;
  border-radius: 0 0 8px 8px;
  color: rgba(255, 255, 255, 0.5);
}
div.react-select__menu-list {
  padding: 8px 0;
}

div.react-select__option--is-focused {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.05);
}

div.react-select__option--is-selected {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.15);
}
