// // // @use '../../../style/bracket/index' as *;
// // // @use '../../../style/bracket_builder/index' as *;
// // // @use '../../../style/constants' as *;
// // // @use '../../../style/main.scss' as *;

// // // @import 'https://api.fontshare.com/css?f[]=clash-display@400,500,600,700&display=swap';
// // // @import "~react-image-gallery/styles/scss/image-gallery.scss";

$match-box-border: 2px solid #3c434a;
$bracket-radius: 4px;
$team-height: 16px;
$team-background: #3c434a;
$team-color: white;
$team-offset: -8px;


.wpbb-bracket {
	display: flex;
	margin: 0 auto;
	gap: 16px;
}

.wpbb-round__header{
    display: none !important;
}

.wpbb-round{
	width: 95px;
}

@mixin match-box() {
	border-top: 0;
	border-bottom: 0;
	position: relative;
}
@mixin match-box() {
	position: relative;
}

.wpbb-match-box-left {
	@include match-box();
	border-right: $match-box-border;
	border-radius: 0 $bracket-radius $bracket-radius 0;
}

.wpbb-match-box-right {
	@include match-box();
	border-left: $match-box-border;
	border-radius: $bracket-radius 0 0 $bracket-radius;
}

@media (max-width: 768px) {
	.wpbb-bracket{
		max-width: 100% !important;
		overflow-x: auto;
		gap: 0px;
	}

	.wpbb-default {
		width: 100%;
	}

	.wpbb-round {
		margin: 55px;
	}
}

@mixin team() {
	position: absolute;
	height: 28px;
	min-width: 103px;
	left: 50%;
	transform: translateX(-50%);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	color: $team-color;
	padding: 4px 8px;
	border-radius: $bracket-radius;
	background: rgba(255, 255, 255, 0.15);
	z-index: 1;
	text-align: center;
}

.wpbb-default {
	.wpbb-team1 {
		@include team();
		top: $team-offset;
	}

	.wpbb-team2 {
		@include team();
		bottom: -12px;
		gap: 24px;
	}

	.wpbb-champion-team {
		@include team();
		top: 50%;
		transform: translate(-50%, -300%);
		display: none;
	}

	.wpbb-team1:hover,
	.wpbb-team2:hover {
		cursor: pointer;
	}

	.wpbb-team-name-input {
		width: 100%;
		outline: none;
		height: 20px;
		text-align: center;
		background: transparent;
		color: rgba(255, 255, 255, 0.50);
		font-family: Clash Display Variable;
		text-transform: uppercase;
		z-index: 1;
		font-size: 14px;
		font-weight: 500;
	}

	.wpbb-team-name-input:focus {
		border-radius: $bracket-radius - 1;
		font-family: Clash Display Variable;
		border: none;
	}

	.wpbb-team-name {
		white-space: nowrap;
		margin-top: 1px;
		color: rgba(255, 255, 255, 0.50);
		font-size: 14px;
		font-weight: 500;
		text-transform: uppercase;
		font-family: Clash Display Variable;
	}

}

.wpbb-default .wpbb-match-box-left, .wpbb-default .wpbb-match-box-left-outer, .wpbb-default .wpbb-match-box-left-outer-lower, .wpbb-default .wpbb-match-box-left-outer-upper 
{
	border-bottom: 0; 
	border-radius: 0; 
	border-right:0;
	border-top: 0; 
	box-sizing: 0;
	position: relative;
}


.wpbb-default .wpbb-match-box-right, .wpbb-default .wpbb-match-box-right-outer, .wpbb-default .wpbb-match-box-right-outer-lower, .wpbb-default .wpbb-match-box-right-outer-upper {
	border-bottom: 0;
	border-left: 0;
	border-radius: 0;
	border-top: 0;
	box-sizing: 0;
	position: relative;
}


.wpbb-default .wpbb-match-box-center {
	border-bottom: 0;
	border-top: 0; 
	box-sizing: 0; 
	position: relative;
}

@mixin match-box() {
	border-top: $match-box-border;
	border-bottom: $match-box-border;
	position: relative;
	box-sizing: border-box;
}

@mixin match-box-outer-after() {
	content: '';
	position: absolute;
	display: block;
	width: 50%;
	border: none;
}

$bracket-radius: 3px;

.wpbb-default {

	.wpbb-match-box-left-outer::after {
		@include match-box-outer-after();
		bottom: -5px;
		top: -5px;
		left: 0
	}

	.wpbb-match-box-left-outer-upper::after {
		@include match-box-outer-after();
		top: -5px;
		left: 0
	}

	.wpbb-match-box-left-outer-lower::after {
		@include match-box-outer-after();
		bottom: -5px;
		left: 0
	}

	.wpbb-match-box-right-outer::after {
		@include match-box-outer-after();
		bottom: -5px;
		top: -5px;
		right: 0
	}

	.wpbb-match-box-right-outer-upper::after {
		@include match-box-outer-after();
		top: -5px;
		right: 0
	}

	.wpbb-match-box-right-outer-lower::after {
		@include match-box-outer-after();
		bottom: -5px;
		right: 0
	}


	.wpbb-match-box-center::before {
		@include match-box-outer-after();
		top: -5px;
		right: 0;
	}

	.wpbb-match-box-center::after {
		@include match-box-outer-after();
		bottom: -5px;
		left: 0;
	}
}
