AWS_REGION={{ site_env.aws_region }}
WP_SENTRY_ENV={{ site_env.wp_sentry_env }}
WP_SENTRY_DSN={{ site_env.wp_sentry_php_dsn }}
AWS_ACCESS_KEY_ID={{ site_env.aws_access_key_id }}
AWS_SECRET_ACCESS_KEY={{ site_env.aws_secret_access_key }}
NODE_ENV={{ site_env.node_env }}