parameters:
	ignoreErrors:
		-
			message: "#^Static method WStrategies\\\\BMB\\\\Includes\\\\Activator\\:\\:delete_tables\\(\\) is unused\\.$#"
			count: 1
			path: Includes/Activator.php

		-
			message: "#^Cannot assign offset 'status' to WP_REST_Request\\.$#"
			count: 1
			path: Includes/Controllers/BracketApi.php

		-
			message: "#^WP_REST_Request does not accept string\\.$#"
			count: 1
			path: Includes/Controllers/BracketApi.php

		-
			message: "#^Class WStrategies\\\\BMB\\\\Includes\\\\Controllers\\\\ApiListeners\\\\BeforePlayAddedListener does not have a constructor and must be instantiated without any parameters\\.$#"
			count: 1
			path: Includes/Controllers/BracketPlayApi.php

		-
			message: "#^If condition is always true\\.$#"
			count: 2
			path: Includes/Domain/Bracket.php

		-
			message: "#^Ternary operator condition is always true\\.$#"
			count: 2
			path: Includes/Domain/BracketMatch.php

		-
			message: "#^Property WStrategies\\\\BMB\\\\Includes\\\\Domain\\\\BracketPlay\\:\\:\\$busted_play \\(WStrategies\\\\BMB\\\\Includes\\\\Domain\\\\BracketPlay\\) in empty\\(\\) is not falsy\\.$#"
			count: 1
			path: Includes/Domain/BracketPlay.php

		-
			message: "#^Ternary operator condition is always true\\.$#"
			count: 1
			path: Includes/Domain/MatchPick.php

		-
			message: "#^Property WStrategies\\\\BMB\\\\Includes\\\\Hooks\\\\PublicHooks\\:\\:\\$utils is never read, only written\\.$#"
			count: 1
			path: Includes/Hooks/PublicHooks.php

		-
			message: "#^Argument of an invalid type stdClass supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: Includes/Repository/BracketMatchPickRepo.php

		-
			message: "#^Parameter \\#2 \\$output of method wpdb\\:\\:get_results\\(\\) expects 'ARRAY_A'\\|'ARRAY_N'\\|'OBJECT'\\|'OBJECT_K', '' given\\.$#"
			count: 1
			path: Includes/Repository/BracketMatchPickRepo.php

		-
			message: "#^Parameter \\#2 \\$output of method wpdb\\:\\:get_row\\(\\) expects 'ARRAY_A'\\|'ARRAY_N'\\|'OBJECT', '' given\\.$#"
			count: 1
			path: Includes/Repository/BracketMatchPickRepo.php

		-
			message: "#^Argument of an invalid type stdClass supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: Includes/Repository/BracketMatchRepo.php

		-
			message: "#^Parameter \\#2 \\$output of method wpdb\\:\\:get_results\\(\\) expects 'ARRAY_A'\\|'ARRAY_N'\\|'OBJECT'\\|'OBJECT_K', '' given\\.$#"
			count: 1
			path: Includes/Repository/BracketMatchRepo.php

		-
			message: "#^Call to function is_wp_error\\(\\) with int will always evaluate to false\\.$#"
			count: 1
			path: Includes/Repository/PlayRepo.php

		-
			message: "#^Method WStrategies\\\\BMB\\\\Includes\\\\Repository\\\\PlayRepo\\:\\:get_play_data\\(\\) should return array but returns stdClass\\.$#"
			count: 1
			path: Includes/Repository/PlayRepo.php

		-
			message: "#^Parameter \\#2 \\$output of method wpdb\\:\\:get_row\\(\\) expects 'ARRAY_A'\\|'ARRAY_N'\\|'OBJECT', '' given\\.$#"
			count: 1
			path: Includes/Repository/PlayRepo.php

		-
			message: "#^Property WStrategies\\\\BMB\\\\Includes\\\\Domain\\\\BracketPlay\\:\\:\\$bmb_official \\(bool\\) on left side of \\?\\? is not nullable\\.$#"
			count: 1
			path: Includes/Repository/PlayRepo.php

		-
			message: "#^Property WStrategies\\\\BMB\\\\Includes\\\\Domain\\\\BracketPlay\\:\\:\\$is_printed \\(bool\\) on left side of \\?\\? is not nullable\\.$#"
			count: 1
			path: Includes/Repository/PlayRepo.php

		-
			message: "#^Property WStrategies\\\\BMB\\\\Includes\\\\Domain\\\\BracketPlay\\:\\:\\$is_tournament_entry \\(bool\\) on left side of \\?\\? is not nullable\\.$#"
			count: 1
			path: Includes/Repository/PlayRepo.php

		-
			message: "#^Property WStrategies\\\\BMB\\\\Includes\\\\Domain\\\\BracketPlay\\:\\:\\$is_winner \\(bool\\) on left side of \\?\\? is not nullable\\.$#"
			count: 1
			path: Includes/Repository/PlayRepo.php

		-
			message: "#^Call to function is_wp_error\\(\\) with int will always evaluate to false\\.$#"
			count: 1
			path: Includes/Repository/BracketRepo.php

		-
			message: "#^Method WStrategies\\\\BMB\\\\Includes\\\\Repository\\\\BracketRepo\\:\\:get_custom_table_data\\(\\) should return array but returns stdClass\\.$#"
			count: 1
			path: Includes/Repository/BracketRepo.php

		-
			message: "#^Parameter \\#2 \\$output of method wpdb\\:\\:get_row\\(\\) expects 'ARRAY_A'\\|'ARRAY_N'\\|'OBJECT', '' given\\.$#"
			count: 1
			path: Includes/Repository/BracketRepo.php

		-
			message: "#^Right side of && is always true\\.$#"
			count: 2
			path: Includes/Repository/BracketRepo.php

		-
			message: "#^Argument of an invalid type stdClass supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: Includes/Repository/BracketResultsRepo.php

		-
			message: "#^Parameter \\#2 \\$output of method wpdb\\:\\:get_results\\(\\) expects 'ARRAY_A'\\|'ARRAY_N'\\|'OBJECT'\\|'OBJECT_K', '' given\\.$#"
			count: 1
			path: Includes/Repository/BracketResultsRepo.php

		-
			message: "#^Argument of an invalid type stdClass supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: Includes/Repository/BracketTeamRepo.php

		-
			message: "#^Parameter \\#2 \\$output of method wpdb\\:\\:get_results\\(\\) expects 'ARRAY_A'\\|'ARRAY_N'\\|'OBJECT'\\|'OBJECT_K', '' given\\.$#"
			count: 1
			path: Includes/Repository/BracketTeamRepo.php

		-
			message: "#^Parameter \\#2 \\$output of method wpdb\\:\\:get_row\\(\\) expects 'ARRAY_A'\\|'ARRAY_N'\\|'OBJECT', '' given\\.$#"
			count: 1
			path: Includes/Repository/BracketTeamRepo.php

		-
			message: "#^Argument of an invalid type stdClass supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: Includes/Repository/NotificationRepo.php

		-
			message: "#^Method WStrategies\\\\BMB\\\\Includes\\\\Repository\\\\NotificationRepo\\:\\:current_user_notification_id\\(\\) should return int\\|null but returns false\\.$#"
			count: 1
			path: Includes/Repository/NotificationRepo.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: Includes/Repository/NotificationRepo.php

		-
			message: "#^Parameter \\#2 \\$output of method wpdb\\:\\:get_results\\(\\) expects 'ARRAY_A'\\|'ARRAY_N'\\|'OBJECT'\\|'OBJECT_K', '' given\\.$#"
			count: 1
			path: Includes/Repository/NotificationRepo.php

		-
			message: "#^Parameter \\#2 \\$field of function get_post_datetime expects 'date'\\|'modified', 'data' given\\.$#"
			count: 1
			path: Includes/Repository/UserProfileRepo.php

		-
			message: "#^Parameter \\#3 \\$source of function get_post_datetime expects 'gmt'\\|'local', 'utc' given\\.$#"
			count: 1
			path: Includes/Repository/UserProfileRepo.php

		-
			message: "#^Property WStrategies\\\\BMB\\\\Includes\\\\Repository\\\\UserProfileRepo\\:\\:\\$utils is never read, only written\\.$#"
			count: 1
			path: Includes/Repository/UserProfileRepo.php

		-
			message: "#^Property WStrategies\\\\BMB\\\\Includes\\\\Repository\\\\UserProfileRepo\\:\\:\\$wpdb is never read, only written\\.$#"
			count: 1
			path: Includes/Repository/UserProfileRepo.php

		-
			message: "#^Property WStrategies\\\\BMB\\\\Includes\\\\Service\\\\BracketProduct\\\\BracketProductHooks\\:\\:\\$bracket_repo is never read, only written\\.$#"
			count: 1
			path: Includes/Service/BracketProduct/BracketProductHooks.php

		-
			message: "#^Parameter \\#1 \\$play_id of class WStrategies\\\\BMB\\\\Includes\\\\Domain\\\\BracketConfig constructor expects string, int given\\.$#"
			count: 1
			path: Includes/Service/ProductIntegrations/Gelato/GelatoProductIntegration.php

		-
			message: "#^Parameter \\#2 \\$bracket_id of class WStrategies\\\\BMB\\\\Includes\\\\Domain\\\\BracketConfig constructor expects string, int given\\.$#"
			count: 1
			path: Includes/Service/ProductIntegrations/Gelato/GelatoProductIntegration.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: Includes/Service/ProductIntegrations/Gelato/GelatoPublicHooks.php

		-
			message: "#^Right side of && is always false\\.$#"
			count: 1
			path: Includes/Service/ProductIntegrations/Gelato/GelatoPublicHooks.php

		-
			message: "#^Method WStrategies\\\\BMB\\\\Includes\\\\Service\\\\ScoreService\\:\\:get_top_score\\(\\) never returns int so it can be removed from the return type\\.$#"
			count: 1
			path: Includes/Service/ScoreService.php

		-
			message: "#^Method WStrategies\\\\BMB\\\\Includes\\\\Service\\\\ScoreService\\:\\:get_top_score\\(\\) should return int\\|null but returns string\\|null\\.$#"
			count: 1
			path: Includes/Service/ScoreService.php

		-
			message: "#^Property WStrategies\\\\BMB\\\\Includes\\\\Service\\\\ScoreService\\:\\:\\$utils is never read, only written\\.$#"
			count: 1
			path: Includes/Service/ScoreService.php

		-
			message: "#^Property WStrategies\\\\BMB\\\\Includes\\\\Validation\\\\ApiValidation\\:\\:\\$wpdb is unused\\.$#"
			count: 1
			path: Includes/Validation/ApiValidation.php

		-
			message: "#^Parameter \\#1 \\$text of function esc_html expects string, float given\\.$#"
			count: 1
			path: Public/Partials/dashboard/my-play-history.php

		-
			message: "#^Parameter \\#1 \\$text of function esc_html expects string, int given\\.$#"
			count: 1
			path: Public/Partials/dashboard/my-play-history.php

		-
			message: "#^Parameter \\#1 \\$text of function esc_html expects string, int\\|null given\\.$#"
			count: 1
			path: Public/Partials/dashboard/my-play-history.php

		-
			message: "#^Ternary operator condition is always true\\.$#"
			count: 3
			path: Public/Partials/dashboard/my-play-history.php

		-
			message: "#^Parameter \\#1 \\$text of function esc_html expects string, int given\\.$#"
			count: 2
			path: Public/Partials/shared/BracketsCommon.php

		-
			message: "#^Parameter \\#1 \\$search of function str_replace expects array\\|string, int given\\.$#"
			count: 1
			path: Public/Partials/shared/PaginationWidget.php
