@use '../../constants' as *;

.wpbb-paginated-round {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: $darkBlue;
	height: 100%;
	padding: 60px 0;

	.wpbb-action-btn {
		font-size: 24px;
		font-weight: 600;
		height: 268;
	}
}

.wpbb-paginated-round-header-text {
	font-size: 24px;
	font-weight: 600;
	text-transform: uppercase;
}