@use 'bracket' as *;
@use 'bracket_builder' as *;
@use 'constants' as *;

@import 'https://api.fontshare.com/css?f[]=clash-display@400,500,600,700&display=swap';
@import "~react-image-gallery/styles/scss/image-gallery.scss";

// html,
// body {
// 	height: 100%;
// }

// // The div rendered by the wpbb-bracket-builder shortcode
// #wpbb-bracket-builder {
// 	height: 100%;
// }

.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
	height: 70px;
	width: 60px;
}

.wpbb-bracket-modal {
	z-index: 99999999;

}

.modal-header {
	border-bottom: 0;
}

.modal-footer {
	border-top: 0;
	justify-content: space-between;

	.btn:last-child {
		margin-left: auto;
	}

}

.visible {
	visibility: visible;
}

.invisible {
	visibility: hidden;
}

.wpbb-bracket {
	display: flex;
	margin: 0 auto;
	// gap: 16px;
	max-width: 63vw;
}

.wpbb-bracket-print-area {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $darkBlue;
	padding: 200px 0;

	&.wpbb-print-center {
		justify-content: center;
	}

	&.wpbb-print-bottom {
		justify-content: flex-end;
	}
}

.wpbb-default {
	font-size: x-small;
}

.wpbb-bracket-container {
	position: relative;
	background-image: url('../brackets/shared/assets/bracket-bg-light.png');
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	padding-top: 160px;
	padding-bottom: 100px;
	min-width: fit-content;

	.wpbb-theme-selector {
		position: absolute;
		top: 50px;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		align-items: center;
		text-transform: uppercase;
		font-weight: 600;
	}

	.wpbb-theme-selector-text {
		margin-right: 16px;
	}

	.wpbb-theme-selector-switch-outer {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		width: 71px;
		height: 30px;
		padding-left: 2px;
		padding-right: 4px;
		border-radius: 16px;
		background-color: $darkBlue;
	}

	.wpbb-theme-selector-switch-inner {
		width: 47px;
		height: 22px;
		border-radius: 16px;
		background-color: white;
		font-size: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 1px;

		&:hover {
			cursor: pointer;
		}
	}

	.wpbb-bracket-actions {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&.wpbb-2-rounds {
		padding-top: 350px;

		.wpbb-bracket-actions {
			margin-top: 220px;
		}
	}

	&.wpbb-3-rounds {
		padding-top: 290px;

		.wpbb-bracket-actions {
			margin-top: 220px;
		}
	}

	&.wpbb-4-rounds {
		.wpbb-bracket-actions {
			margin-top: 94px;
		}
	}

	&.wpbb-5-rounds {
		.wpbb-bracket-actions {
			margin-top: 50px;
		}
	}

	&.wpbb-6-rounds {
		.wpbb-bracket-actions {
			margin-top: 20px;
		}
	}

	.wpbb-apparel-btn {
		border: none;
		border-radius: 8px;
		padding: 0;
		font-size: 36px;
		font-weight: 700;
		width: 405.54px;
		height: 72.18px;
		background-color: $neonGreen;
		color: $darkBlue;

		&.disabled {
			background-color: transparent;
			color: rgba(0, 0, 0, 0.2);
			border: 4px solid rgba(0, 0, 0, 0.2)
		}
	}


	.wpbb-slogan-container {
		position: absolute;
		top: 100px;
		left: 50%;
		transform: translateX(-50%);
	}

	.wpbb-slogan-text {
		white-space: nowrap;
		font-size: 64px;
		font-weight: 700;
	}

	&.wpbb-dark-mode {
		background-color: $darkBlue;
		background-image: url('../brackets/shared/assets/bracket-bg-dark.png');
		color: #fff;

		.wpbb-apparel-btn {
			background-color: $darkGreen;
			border: 4px solid $neonGreen;
			color: white;

			&.disabled {
				background-color: transparent;
				color: rgba(255, 255, 255, 0.2);
				border-color: rgba(255, 255, 255, 0.2);
			}
		}

		.wpbb-theme-selector-switch-outer {
			justify-content: flex-start;
			border: 2px solid #fff;
			color: $darkBlue;
		}
	}
}


.wpbb-paired-bracket,
.wpbb-paginated-bracket {
	font-family: 'Clash Display', sans-serif;
	color: $darkBlue;
	position: relative;
	@extend %paired-teams;
	@extend %paired-matchbox;

	.wpbb-bracket-rounds-container {
		display: flex;
		width: 100%;
	}

	// .wpbb-bracket-lines-container,
	// .wpbb-paginated-bracket-lines-container {
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	width: 100%;
	// 	// height: 100%;
	// }


	.wpbb-winner-container {
		position: absolute;
		bottom: 100px;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	.wpbb-winner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.wpbb-winner-text {
		font-size: 64px;
		font-weight: 700;
		line-height: 1;
		margin-bottom: 16px;
		text-align: center;
		white-space: nowrap;

	}

	.wpbb-bracket-logo {
		width: 154px;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		opacity: .25;
		color: #000;
	}

	&.wpbb-6-rounds {
		width: 1137px;

		.wpbb-bracket-logo {
			bottom: -320px;
		}

		.wpbb-winner-container {
			bottom: 320px;
		}

		.wpbb-team1,
		.wpbb-team2 {
			height: 20px;
			width: 87px;
			font-size: 12px;
		}
	}

	&.wpbb-5-rounds {
		width: 1023px;

		.wpbb-bracket-logo {
			bottom: -270px;
		}

		.wpbb-winner-container {
			bottom: 190px;
		}

		.wpbb-team1,
		.wpbb-team2 {
			height: 20px;
			width: 87px;
			font-size: 12px;
		}
	}

	&.wpbb-4-rounds {
		width: 985px;

		.wpbb-winner-container {
			bottom: 150px;
		}

		.wpbb-bracket-logo {
			bottom: -300px;
		}
	}

	&.wpbb-3-rounds {
		width: 800px;

		.wpbb-bracket-logo {
			bottom: -300px;
		}

		// .wpbb-winner-text {
		// 	white-space: nowrap;
		// }
	}

	&.wpbb-2-rounds {
		width: 800px;

		.wpbb-bracket-logo {
			bottom: -250px;
		}

		// .wpbb-winner-text {
		// 	white-space: nowrap;
		// }

	}

	&.wpbb-dark-mode {
		color: #fff;

		.wpbb-bracket-logo {
			color: #fff;
			opacity: 1;
		}

		.wpbb-team {
			border-color: rgba(255, 255, 255, 0.5);
		}

		.wpbb-match-winner {
			background-color: white;
			color: $darkBlue;
		}

		.wpbb-final-winner {
			border-color: #fff;
		}

		// .wpbb-bracket-line {
		// 	border-top: 1px solid #fff !important;
		// }
	}
}

.wpbb-bracket-line {
	border-top: 1px solid $darkBlue !important;

	&.wpbb-dark-mode {
		border-top: 1px solid #fff !important;
	}
}

.wpbb-action-btn {
	border: none;
	border-radius: 8px;
	padding: 0;
	font-size: 36px;
	font-weight: 700;
	width: 405.54px;
	height: 72.18px;
	background-color: $neonGreen;
	color: $darkBlue;

	&.disabled {
		background-color: transparent;
		color: rgba(0, 0, 0, 0.2);
		border: 4px solid rgba(0, 0, 0, 0.2)
	}

}

.wpbb-dark-mode {
	.wpbb-action-btn {
		background-color: $darkGreen;
		border: 4px solid $neonGreen;
		color: #fff;

		&.secondary {
			background-color: transparent;
			border-color: #fff;
		}

		&.disabled {
			color: rgba(255, 255, 255, 0.2);
			border-color: rgba(255, 255, 255, 0.2);
		}
	}
}

.wpbb-round {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 0;
	width: 95px;
	// flex: 1 1 0;

	.wpbb-round__header {
		margin-bottom: 20px;
		text-align: center;
		height: 34px;
		line-height: 30px;
		font-size: medium;
		display: none;

		input {
			text-align: center;
			margin: 0 auto;
			width: 90%;
		}

		span {
			// margin: auto 0;
			display: inline-block;
			vertical-align: middle;
			line-height: normal;
		}
	}

	.wpbb-round__body {
		display: flex;
		flex-grow: 1;
		flex-direction: column;
		justify-content: center;
		position: relative;
	}

}

.wpbb-options-form {
	display: flex;
	align-items: flex-end;
	padding-left: 10px;
	flex: 1;
	justify-content: center;
}

.wpbb-option-group {
	margin-right: 20px;

	label {
		margin-right: 10px;
	}
}

.wpbb-bracket-title-name {
	height: 40px;
}


.wpbb-bracket-title-input {
	// position: absolute;
	height: 40px;
}

$table-radius: 10px;

/* Add border-radius to the table */
.wpbb-bracket-table {
	border-collapse: separate;
	border-spacing: 0;
	border-radius: $table-radius;
	overflow: hidden;
}

.wpbb-bracket-table-action-col {
	text-align: end;
}

.wpbb-bracket-table-active-check {
	color: white;
	font-size: x-large;
}

.wpbb-active-checkbox {
	text-align: center;

}

// .wpbb-table-inside {
// 	padding: 10px;
// }

.table td,
.table th {
	padding: 15px;
	vertical-align: middle;
	/* Adjust this value to your desired padding */
}

.table tr:hover {
	cursor: pointer;

}

.wpbb-gallery-spinner-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 300px;
}

.wpbb-gallery-container {
	animation: fade-in 0.3s;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@media (max-width: 768px) {
	.wpbb-bracket{
		max-width: 80vw !important;
	}
}