.wpbb-bracket-modal {
	z-index: 99999999;

	.wpbb-bracket-modal__header {
		border-bottom: 0;
	}

	.wpbb-bracket-modal__footer {
		border-top: 0;
	}
}

.wpbb-round {
	display: flex;
	flex-direction: column;
	flex-grow: 1;

	.wpbb-round__header {
		margin-bottom: 10px;
		text-align: center;
	}

	.wpbb-round__body {
		display: flex;
		flex-grow: 1;
		flex-direction: column;
		justify-content: center;
	}
}

$match-box-border: 1px solid black;

@mixin match-box() {
	border-top: $match-box-border;
	border-bottom: $match-box-border;
}

.wpbb-match-box-left {
	@include match-box();
	border-right: $match-box-border;
	border-radius: 0 5px 5px 0;
}

.wpbb-match-box-right {
	@include match-box();
	border-left: $match-box-border;
	border-radius: 5px 0 0 5px;
}

.wpbb-final-match {
	@include match-box();
	flex-grow: 1;
}

.wpbb-options-form {
	display: flex;
	align-items: flex-end;
	padding-left: 10px;
	flex: 1;
	justify-content: center;

	label {
		margin-right: 10px;
	}
}

.wpbb-bracket {
	display: flex;
}